@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: rgb(255, 172, 198);
  background: linear-gradient(90deg,
      rgba(255, 172, 198, 1) 7%,
      rgba(182, 224, 245, 1) 48%,
      rgba(255, 172, 198, 1) 94%);
}

.app-container {
  width: 100%;
  max-width: 1400px;
  background: white;
  min-height: 80vh;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 15% 65% 20%;

  #left-menu {
    border: 2px solid #e6e9ef;
    border-radius: 15px;

    .account-dropdown {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      padding: 15px;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        .fab {
          font-size: 2rem;
        }
      }

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-chevron-down {
          font-size: 0.8rem;
        }
      }
    }

    .groups {
      padding: 15px;

      .group {
        .title {
          padding: 10px 0;
          font-size: 0.8rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        ul {
          li {
            font-size: 0.8rem;
            padding: 10px 0;
            color: #97999c;
          }
        }
      }
    }
  }

  #content-container {
    overflow: hidden;

    .search-header {

      position: relative;
      padding: 10px;
      -webkit-box-shadow: 0px 0px 15px -3px rgba(191, 189, 191, 1);
      -moz-box-shadow: 0px 0px 15px -3px rgba(191, 189, 191, 1);
      box-shadow: 0px 0px 15px -3px rgba(191, 189, 191, 1);

      .search-box {
        width: 600px;
        margin: 0 auto;

        input[type="text"] {
          width: 100%;
          background-color: #F3F3F3;
          border-radius: 3px;
          font-size: 1.2rem;
          border: none;
          padding: 5px 15px;
        }
      }

      .icon-section {
        position: absolute;
        top: 15px;
        right: 0;
        font-size: 1.2rem;
        padding-right: 15px;



        &>div {
          display: inline-block;
          padding: 0 2px;
          color: #797979;
          position: relative
        }


        .noti-number {
          display: none;
          position: absolute;
          top: -7px;
          right: -7px;
          padding: 2px 3px;
          border-radius: 5px;
          border: 3px solid white;
          background: $red;
          color: white;
          font-size: 0.6rem;

          &.active {
            display: block;
          }
        }
      }



    }

    .compose-section {
      width: 600px;
      margin: 0 auto;
      padding: 35px 0;
      position: relative;

      textarea {
        width: 100%;
        height: 75px;
        background: $textfield;
        border: none;
        border-radius: 4px;
        padding: 15px 30px;
        font-size: 1.2rem;
      }

      .user-img {
        position: absolute;
        top: 20px;
        left: -15px;
        background:
          url("https://tinyfac.es/data/avatars/8B510E03-96BA-43F0-A85A-F38BB3005AF1-500w.jpeg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        border: 5px solid white;
        height: 40px;
        width: 40px;
      }

      .buttons {
        position: absolute;
        right: 15px;
        bottom: 20px;
        display: flex;

        .button {
          background: white;
          height: 40px;
          width: 40px;
          margin-left: 15px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 1rem;
          color: #3C3C3C;
          -webkit-box-shadow: 0px 0px 15px -3px rgba(191, 189, 191, 1);
          -moz-box-shadow: 0px 0px 15px -3px rgba(191, 189, 191, 1);
          box-shadow: 0px 0px 15px -3px rgba(191, 189, 191, 1);

          &.send-btn {
            color: white;
            background: #32AEFF;
          }

          .fa-paper-plane {
            transform: rotate(50deg)
          }
        }
      }

    }

    #updates {
      .update-container {
        max-width: 630px;
        width: 100%;
        margin: 0 auto;

        .author-info {
          display: flex;
          padding: 0 15px;



          .user-img {
            display: inline-block;
            background: url("https://tinyfac.es/data/avatars/8B510E03-96BA-43F0-A85A-F38BB3005AF1-500w.jpeg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            border: 5px solid white;
            height: 40px;
            width: 40px;
          }

          .info {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .8rem;
            color: $ptext;

            a {
              color: $htext;
              text-decoration: none;
              font-weight: 700;
              margin: 0 10px;
            }
          }
        }

        .media {
          position: relative;


          .image {
            z-index: 2;
            position: relative;
            margin: 25px 0 50px;
            height: 300px;
            width: 100%;
            border-radius: 10px;
            -webkit-box-shadow: -2px 20px 22px -5px rgba(84, 79, 84, 1);
            -moz-box-shadow: -2px 20px 22px -5px rgba(84, 79, 84, 1);
            box-shadow: -2px 20px 22px -5px rgba(84, 79, 84, 1);
          }
        }

        .padding-container {
          padding: 0 15px;
        }

        .grey-container {
          z-index: 1;
          position: relative;
          top: -50px;
          padding: 50px 0;
          background: $baclgroundContent;
          -webkit-box-shadow: -2px 20px 22px -5px rgba(84, 79, 84, 1);
          -moz-box-shadow: -2px 20px 22px -5px rgba(84, 79, 84, 1);
          box-shadow: -2px 20px 22px -5px rgba(84, 79, 84, 1);
        }
      }
    }
  }

  #messenger {
    background: #0178FF;


  }
}

input:focus,
textarea:focus {
  outline: none;

}
