@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "variables";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: rgb(255, 172, 198);
  background: linear-gradient(90deg,
      rgba(255, 172, 198, 1) 7%,
      rgba(182, 224, 245, 1) 48%,
      rgba(255, 172, 198, 1) 94%);
}

.app-container {
  width: 100%;
  max-width: 1400px;
  background: white;
  min-height: 80vh;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 15% 65% 20%;

  #left-menu {
    border: 2px solid #e6e9ef;
    border-radius: 15px;

    .account-dropdown {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      padding: 15px;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        .fab {
          font-size: 2rem;
        }
      }

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-chevron-down {
          font-size: 0.8rem;
        }
      }
    }

    .groups {
      padding: 15px;

      .group {
        .title {
          padding: 10px 0;
          font-size: 0.8rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        ul {
          li {
            font-size: 0.8rem;
            padding: 10px 0;
            color: #97999c;
          }
        }
      }
    }
  }

  #content-area {
    overflow: hidden;

    .search-header {
      position: relative;
      padding: 10px;
      -webkit-box-shadow: 0px 0px 15px -3px rgba(191, 189, 191, 1);
      -moz-box-shadow: 0px 0px 15px -3px rgba(191, 189, 191, 1);
      box-shadow: 0px 0px 15px -3px rgba(191, 189, 191, 1);

      .search-box {
        width: 600px;
        margin: 0 auto;

        input[type="text"] {
          width: 100%;
          background-color: #F3F3F3;
          border-radius: 3px;
          font-size: 1.2rem;
          border: none;
          padding: 5px 15px;
        }
      }

      .icon-section {
        position: absolute;
        top: 15px;
        right: 0;
        font-size: 1.2rem;



        &>div {
          display: inline-block;
          padding: 0 2px;
          color: #797979;
          position: relative
        }


        .noti-number {
          display: none;
          position: absolute;
          top: -5px;
          right: -5px;
          padding: 2px 5px;
          border-radius: 5px;
          border: 1px solid white;
          background: $red;
          color: white;
          font-size: 0.6rem;

          &.active {
            display: block;
          }
        }
      }
    }
  }
}

input:focus,
textarea:focus {
  outline: none;
}
